$roxo:#b92a75;
$roxoEscuro:#901656;
$cinza: #151515;
$azul: #447df7;
$azulEscuro: #2955ad;
$cinzaClaro:#ededed;
$espacamentos:10;


@for $i from 1 through $espacamentos{
//  Criando espacamento inicio do elemento
  .paddingTop-#{$i}{
    padding-top: 10px * $i
      }
//  Criando espacamento final do elemento
  .paddingBottom-#{$i}{
    padding-bottom:10px * $i 
    }
  .marginBottom-#{$i}{
    margin-bottom:10px * $i 
    }
  .marginTop-#{$i}{
    margin-Top:10px * $i 
    }
  }
//Classe cores
.roxo{
  color: $roxo;
}
.roxoEscuro{
  color: $roxoEscuro;
}
.azul{
  color: $azul;
}
.fundoAzul{
  background: $azul;
}
.fundoCinzaClaro{
  background: $cinzaClaro;
}